.top {
    background-color: rgb(128, 0, 0);
    text-align: center;
    height: 25vh;
}

.middle {
    display: flex;
    height: 50vh;
}

.midR {
    background-color: rgb(153, 189, 23);
    flex: 1; /* Take up equal space */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right */
}

.midL {
    background-color: green;
    flex: 1; /* Take up equal space */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align to the left */
}

.bottom {
    background-color: rgb(50, 171, 223);
    text-align: center;
    height: 25vh;
}