.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.right {
    flex: 1;
    background-color: rgb(252, 242, 109);
    display: flex;
    position: relative;
}

.left {
    flex: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: relative;
}


.box {
    height: 250px;
    width: 350px;
    position: relative;
    margin-left: 100px;
    background-color: rgb(255, 255, 255);

}
.b1 {
    display: inline-block;
    justify-content: center;
    flex: 1;
}

.b2 {
    display: inline-block;
    flex: 1;
}
.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.goofy {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}
.button1, .button2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s, border 0.3s, z-index 0.3s;
    outline: none;
}
    .button1 {
    background-color: rgb(255, 255, 255);
    border: 0;
    box-shadow: 0px 8px 36px rgb(216, 216, 216);
}
.button2 {
    background-color: yellow;
    border: 0;
    box-shadow: 0px 8px 36px rgb(216, 216, 216);
}
.button-container {
    display: inline-block;
    box-shadow: 0px 8px 36px rgb(216, 216, 216);
    transition: box-shadow 0.3s;
}
.imgcontainer {
    flex: 1;
    display: flex;
    animation-name: siick;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    align-self: flex-end; /* Align imgcontainer to the bottom */
    z-index: -.5;
    /*overflow: hidden; This is causing issues please fix X_X*/
}




@keyframes siick {
    0%,20% {right: 0%;}
    25%,45% {right: 20%;}
    50%,70% {right: 40%;}
    75%,90% {right: 60%;}
    100% {right: 80%;}
}